.container {
 
  display: flex;
  flex-direction: column;
  text-align: center;
 
    }
  .container>div{
    margin: 1%;

  }
  
.wrapper{
  display: flex;
  flex-direction:row;
  flex-basis:content;
  justify-content: left;
  align-items: center;

width: 430px;
border: solid 1px white;
margin: 1% auto;
color: white;
 p{
 
 }
}
  
  .radio{
   
  }
  .radioInfo{
    flex-grow: 2;
    margin: 1% 2%;
    text-align: left;
  }
  .radioInfo>*{
    margin: 0;
  }
  
.btn{
  width: 210px;
  height: 40px;
  align-self: center;
 
  background-color: rgb(95, 232, 241);
}